.DivFilhoFormaPag {
    display: flex;
    flex-direction: row;
}


.DivImagemFormaPag {

    position: relative;
    background-size: cover;
    /* Garante que a imagem cubra toda a área da div */
    background-position: center;
    /* Centraliza a imagem */
    height: calc(100vh - 90px);
    /* Define a altura da div como 100% da altura da janela menos 90px do navbar */
    margin-left: 2%;
    margin-right: 8%;
    background-image: url(/high-angle-vegetables-with-copy-space.png);
    width: 100%;
}

.DivFundoPaiFormaPag {

    position: absolute;
    /* Define a posição absoluta */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 90%;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    /* Cor branca com 80% de visibilidade */
    border-radius: 10px;
    justify-content: center;
    /* Centraliza horizontalmente */
    font-family: "Inter";
    padding-bottom: 2rem;
}

.DivFundoFilhoFormaPag {

    background-color: white;
    width: 90%;
    height: 75%;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5px;
    position: relative;
    margin-top: 50px;
    overflow-y: auto;
}

.faixaEsquerda {
    background-color: #7D9E65;
    width: 5rem;
    height: 100%;
    float: left;
    display: block;
}

.faixaDireita {
    background-color: #7D9E65;
    width: 5rem;
    height: 100%;
    float: right;
    display: block;
}

@media (max-width: 1430px) {

    .faixaEsquerda,
    .faixaDireita {
        display: none;
    }
}

.posfundoFilhoFormaPag {
    background-color: white;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1185px) {
    .posfundoFilho {
        width: 100%;
    }
}

.titulo {
    text-align: center;
    margin-top: -30px;
    font-size: 30px;
    font-family: 'Poller One', sans-serif;
}

.imgFotoDoa {

    height: 100px;
    width: 150px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.VoltarIco {

    display: inline-block;
    margin-top: 2rem;
    margin-left: 4rem;
    width: 3.5rem;
    height: 3.5rem;
    opacity: 100%;

}

.h1FormaPag {

    text-align: center;
    justify-content: center;
    padding-top: 20px;
    display: inline-block;
    position: relative;
    margin: 0 auto;
    font-family: 'Inter';
    font-size: 1.2rem;
    font-weight: bold;

}

.imgFiltrarFormaPag {
    width: 20px;
    display: inline-block;
    height: 25px;

}

.CartaoCredito,
.CartaoDebito,
.Boleto,
.Pix {
    background-color: #EFECEC;
    width: 13rem;
    height: 8rem;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    /* Transição suave para todas as propriedades */
}

.button {
    /* Adicione aqui seus estilos padrão para os botões */
    transition: transform 1s ease;
    /* Transição suave para a propriedade transform */
}

/* Estilo de clique para todos os botões */
.active {
    transform: translate(100px, 100px);
    border: 3px solid #7D9E65;
    /* Move 100px para a direita e 100px para baixo */
}






.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.quantLabel {

    padding-top: 20px;

}

.validadeLabel {

    padding-top: 20px;
}

.quant {

    width: 30%;
    position: relative;
    display: inline-block;

}

.custom-modal-line {
    border-bottom: 2px solid black;
    /* Defina a cor da borda aqui */
    padding-top: 10px;
}

.descricaoLabel {

    padding-top: 20px;
}

.ruaLabel {

    padding-top: 20px;
}


.btnEnvi {
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: rgba(63, 173, 180, 0.87);
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 3rem;
}

.btnEnvi:hover,
.btnEnvi:focus,
.btnEnvi:active {
    background-color: rgba(63, 173, 180, 1);
    /* Mantém a cor de fundo ao passar o mouse, focar ou clicar */
}

.campoValor {
    margin-left: auto;
}

.poscampoValor .form-control {
    width: 91% !important;
}

.valorEnvio {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1185px) {
    .valorEnvio {
        gap: 7%;
    }
}