.DivFilhoEnviarBoleto {
    display: flex;
    flex-direction: row;
}


.DivImagemEnviarBoleto {

    position: relative;
    background-size: cover;
    /* Garante que a imagem cubra toda a área da div */
    background-position: center;
    /* Centraliza a imagem */
    height: calc(100vh - 90px);
    /* Define a altura da div como 100% da altura da janela menos 90px do navbar */
    margin-left: 2%;
    margin-right: 8%;
    background-image: url(/high-angle-vegetables-with-copy-space.png);
    width: 100%;
}

.DivFundoPaiEnviarBoleto {

    position: absolute;
    /* Define a posição absoluta */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 90%;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    /* Cor branca com 80% de visibilidade */
    border-radius: 10px;
    justify-content: center;
    /* Centraliza horizontalmente */
    font-family: "Inter";
    padding-bottom: 2rem;
}

.DivFundoFilhoEnviarBoleto {

    background-color: white;
    width: 90%;
    height: 75%;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5px;
    position: relative;
    margin-top: 50px;
    overflow-y: auto;
}

.tituloEnviarBoleto {
    text-align: center;
    margin-top: -30px;
    font-size: 30px;
    font-family: 'Poller One', sans-serif;
}

.VoltarIco {

    display: inline-block;
    margin-top: 2rem;
    margin-left: 4rem;
    width: 3.5rem;
    height: 3.5rem;
    opacity: 100%;

}

.posfundoFilhoEnviarBoleto {
    background-color: white;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.h1EnviarBoleto {

    text-align: center;
    justify-content: center;
    padding-top: 20px;
    display: inline-block;
    position: relative;
    margin: 0 auto;
    font-family: 'Inter';
    font-size: 1.2rem;
    font-weight: bold;

}

.imgFiltrarEnviarBoleto {
    width: 20px;
    display: inline-block;
    height: 25px;

}

.btnCopiaCod,
.btnVerBoleto {

    align-items: center;
    display: flex;
    justify-content: center;
    background-color: rgba(63, 173, 180, 0.87);
    color: white;
    width: 150px;
    height: 35px;
    border-radius: 10px;
}