body {

  background-color: #D3D3D3;
  font-family: 'Carter One';

}

.button {

  background-color: rgba(63, 173, 180, 0.87);
  color: white;
  width: 100px;
  height: 40px;
}

.button:hover,
.button:focus,
.button:active {
  background-color: rgb(62, 150, 156);
  /* Mantém a cor de fundo ao passar o mouse, focar ou clicar */
  color: white;
}

.imgLogin {

  width: 150px;
}

.DVP {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.BCKCC {

  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("/Background_-_Cadastro.png");
  background-size: 100% 100%;
  filter: brightness(95%);

}

.DVN {

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
}

.DBN {

  background-color: #EDEDED;
  height: 28rem;
  width: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

#fundoDoador {
  background-color: #578925;
  height: 580px;
  width: 55%;
  margin-left: 5%;
  border-radius: 10px;
  margin-right: 5%;
  box-shadow: 0px 0px 7.7px 4px rgba(0, 0, 0, 0.25);
}

#posfundoDoador {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

#fundoDoador p {
  color: white;
  font-size: 1.5rem;
  margin-right: 0.2rem;
}

#fundoDoador #info {
  width: 1.5rem;
  height: 1.5rem;
  color: white;
}

.userwhitedoador {
  width: 70%;
}

.cardbtnprod {
  color: black;
  background-color: white;
  position: relative;
  margin-left: -7rem;
  margin-top: 5.5rem;
  height: 3.2rem;
  display: flex;
  justify-content: center;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  /* Adicione uma transição suave */
}

.nomeimgprod {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}

#fundoBenef {
  background-color: #578925;
  height: 580px;
  width: 55%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-right: 5%;
  box-shadow: 0px 0px 7.7px 4px rgba(0, 0, 0, 0.25);
}

#posfundoBenef {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

#fundoBenef p {
  color: white;
  font-size: 1.5rem;
  margin-right: 0.2rem;
}

#fundoBenef #info {
  color: white;
  width: 1.5rem;
  height: 1.5rem;
}

.userwhiteBenef {
  width: 70%;
}

.cardbtnbenef {
  color: black;
  background-color: white;
  position: relative;
  margin-left: -7rem;
  margin-top: 3rem;
  height: 3.2rem;
  display: flex;
  justify-content: center;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  /* Adicione uma transição suave */
}

.nomeimgbenef {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}

#fundoIntermed {
  background-color: #578925;
  height: 580px;
  width: 55%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-right: 5%;
  box-shadow: 0px 0px 7.7px 4px rgba(0, 0, 0, 0.25);
}

#posfundoIntermed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

#fundoIntermed p {
  color: white;
  font-size: 1.5rem;
  margin-right: 0.2rem;
}

#fundoIntermed #info {
  color: white;
  width: 1.5rem;
  height: 1.5rem;
}

.cardbtnIntermed {
  color: black;
  background-color: white;
  position: relative;
  margin-right: -7rem;
  margin-top: 5.5rem;
  height: 3.2rem;
  display: flex;
  justify-content: center;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  /* Adicione uma transição suave */
}

.nomeimgIntermed {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}

.userwhiteintermed {
  width: 70%;
}

#fundoEmp {
  background-color: #578925;
  height: 580px;
  width: 55%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-right: 5%;
  box-shadow: 0px 0px 7.7px 4px rgba(0, 0, 0, 0.25);
}

#posfundoEmp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

#fundoEmp p {
  color: white;
  font-size: 1.5rem;
  margin-right: 0.2rem;
}

#fundoEmp #info {
  color: white;
  width: 1.5rem;
  height: 1.5rem;
}

.cardbtnEmp {
  color: black;
  background-color: white;
  position: relative;
  margin-right: -7rem;
  margin-top: 3rem;
  height: 3.2rem;
  display: flex;
  justify-content: center;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  /* Adicione uma transição suave */
}

.nomeimgEmp {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}

.userwhiteEmp {
  width: 70%;
}

#info {

  height: 25px;
}


.spanUser {

  display: flex;
  align-items: center;
}

.DivButtonUserCadastro {

  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 2rem;
}

.colunaverde1 {
  background-color: #578925;
  width: 5rem;
  min-height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-right: auto;
  box-shadow: 3px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.colunaverde2 {
  background-color: #578925;
  width: 5rem;
  min-height: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-left: auto;
  box-shadow: -3px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.cardbtnprod:hover,
.cardbtnbenef:hover {
  /* Estilos quando o mouse está sobre o botão */
  background-color: #42A8A1;
  color: white;
  height: 3.5rem;
  margin-left: -7.5rem;
  margin-bottom: -0.3rem;
}

.cardbtnIntermed:hover,
.cardbtnEmp:hover {
  background-color: #42A8A1;
  color: white;
  margin-right: -7.5rem;
  height: 3.5rem;
  margin-bottom: -0.3rem;
}

.cardbtnprod.active,
.cardbtnbenef.active {
  background-color: #42A8A1;
  color: white;
  height: 3.5rem;
  margin-left: -7.5rem;
  margin-bottom: -0.3rem;
}

.cardbtnIntermed.active,
.cardbtnEmp.active {
  /* Estilos quando o botão está ativo */
  background-color: #42A8A1;
  color: white;
  margin-right: -7.5rem;
  height: 3.5rem;
  margin-bottom: -0.3rem;
}

#fundoDoador,
#fundoBenef,
#fundoIntermed,
#fundoEmp {
  display: none;
}

#fundoDoador.active,
#fundoBenef.active,
#fundoIntermed.active,
#fundoEmp.active {
  display: block;
  /* Exibido quando o botão correspondente está ativo */
}

.modal-content {
  height: 22.5rem;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}