@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


body {
  
  background-color: #D3D3D3;
  font-family: 'Carter One';

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.background-image{

  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("/Background_-_Tela_Inicial.png");
  background-size: 100% 100%;
  filter: brightness(85%);
}

.background-Cadastro{

  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("/Background_-_Cadastro.png");
  background-size: 100% 100%;
  filter: brightness(85%);
}

#fundoIntermediario {
  background-color: #FFFFFF;
  height: 400px;
  width: 30%;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: background-color 0.8s, height 0.8s, width 0.8s; /* Adiciona uma transição suave */
}

#fundoIntermediario:hover {
  background-color: #578925;
  height: 500px; /* Altera a altura para 80% quando o mouse passa sobre a div */
  width: 35%;
}


#fundoIntermediario:hover button {
  visibility: visible; /* Torna os botões visíveis durante o hover */
  margin-top: 20px;
}

#fundoIntermediario button {
  visibility: hidden; /* Inicialmente, os botões estão ocultos */
}

#fundoIntermediario:hover img {
  visibility: visible; /* Torna os botões visíveis durante o hover */
  height: 250px;
  width: 250px;
}

#fundoIntermediario:hover p {
  visibility: visible; /* Torna os botões visíveis durante o hover */
  color:white;  
}
#fundoIntermediario:hover #info {
  visibility: visible; /* Torna os botões visíveis durante o hover */
  color:white;  
}


#fundoReceptor {
  background-color: #FFFFFF;
  height: 400px;
  width: 30%;
  margin-right: auto;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-right: 5%;
  transition: background-color 0.8s, height 0.8s, width 0.8s; /* Adiciona uma transição suave */
}

#fundoReceptor:hover {
  background-color: #578925;
  height: 500px; /* Altera a altura para 80% quando o mouse passa sobre a div */
  width: 35%;
}


#fundoReceptor:hover button {
  visibility: visible; /* Torna os botões visíveis durante o hover */
  margin-top: 20px;
}

#fundoReceptor button {
  visibility: hidden; /* Inicialmente, os botões estão ocultos */
}

#fundoReceptor:hover img {
  visibility: visible; /* Torna os botões visíveis durante o hover */
  height: 250px;
  width: 250px;
}

#fundoReceptor:hover p {
  visibility: visible; /* Torna os botões visíveis durante o hover */
  color:white;  
}
#fundoReceptor:hover #info {
  visibility: visible; /* Torna os botões visíveis durante o hover */
  color:white;  
}


#fundoDoador {
  background-color: #FFFFFF;
  height: 400px;
  width: 30%;
  margin-right: auto;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-right: 5%;
  transition: background-color 0.8s, height 0.8s, width 0.8s; /* Adiciona uma transição suave */
}

#fundoDoador:hover {
  background-color: #578925;
  height: 500px; /* Altera a altura para 80% quando o mouse passa sobre a div */
  width: 35%;
}


#fundoDoador:hover button {
  visibility: visible; /* Torna os botões visíveis durante o hover */
  margin-top: 20px;
}

#fundoDoador button {
  visibility: hidden; /* Inicialmente, os botões estão ocultos */
}

#fundoDoador:hover img {
  visibility: visible; /* Torna os botões visíveis durante o hover */
  height: 250px;
  width: 250px;
}

#fundoDoador:hover p {
  visibility: visible; /* Torna os botões visíveis durante o hover */
  color:white;  
}

#fundoDoador:hover #info {
  visibility: visible; /* Torna os botões visíveis durante o hover */
  color:white;  
}

#info {

  height: 25px;
}

#span {

  cursor: pointer;
}

#exampleInputEmail1::placeholder {
  color: white  ; /* Cor do placeholder */
  opacity: 0.5;
}