.DFFACADOA {
    display: flex;
    flex-direction: row;
}

.DPFACADOA{
    height: 100%;
    width: 100%;
}
.DIFACADOA {

    position: relative;
    background-size: cover;
    /* Garante que a imagem cubra toda a área da div */
    background-position: center;
    /* Centraliza a imagem */
    height: calc(100vh - 90px);
    /* Define a altura da div como 100% da altura da janela menos 90px do navbar */
    margin-left: 2%;
    margin-right: 8%;
    background-image: url(/high-angle-vegetables-with-copy-space.png);
    width: 100%;
}

.DFPFACADOA {

    position: absolute;
    /* Define a posição absoluta */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 90%;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    /* Cor branca com 80% de visibilidade */
    border-radius: 10px;
    justify-content: center;
    /* Centraliza horizontalmente */
    font-family: "Inter";

}

.DFFFACADOA {

    background-color: white;
    width: 90%;
    height: 75%;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5px;
    position: relative;
    margin-top: 20px;
    max-height: 450px;
    overflow-y: auto;
}

.tituloFACADOA {
    text-align: center;
    margin-top: -20px;
    font-size: 30px;
    font-family: 'Poller One', sans-serif;
}

.imgFotoDoa {

    height: 100px;
    width: 150px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.VoltarIco {

    display: inline-block;
    margin-top: 2rem;
    margin-left: 4rem;
    width: 3.5rem;
    height: 3.5rem;
    opacity: 100%;

}


.coluna1FACADOA {

    width: 45%;
    position: absolute;
    left: 0;
    margin: 0 auto;
    padding-left: 40px;
    padding-top: 20px;
}


.coluna2FACADOA {

    width: 45%;
    position: absolute;
    right: 0;
    margin: 0 auto;
    padding-right: 40px;
    padding-top: 20px;

}

.form-groupFACADOA {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.categoriaLabelFACADOA {

    padding-left: 80px;
    padding-top: 20px;

}

.quantLabelFACADOA {

    padding-top: 20px;

}

.validadeLabelFACADOA {

    padding-top: 20px;
}

.quantFACADOA {

    width: 30%;
    position: relative;
    display: inline-block;

}

.categoFACADOA {

    position: relative;
    width: 60%;


}

.custom-modal-line {
    border-bottom: 2px solid black;
    /* Defina a cor da borda aqui */
    padding-top: 10px;
}

.descricaoLabelFACADOA {

    padding-top: 20px;
}

.ruaLabelFACADOA {

    padding-top: 20px;
}


.btnEnviFACADOA {

    position: absolute;
    margin: 0 auto;
    text-align: center;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;

    background-color: rgba(63, 173, 180, 0.87);
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.btnEnviFACADOA:hover,
.btnEnviFACADOA:focus,
.btnEnviFACADOA:active {
    background-color: rgba(63, 173, 180, 1);
    /* Mantém a cor de fundo ao passar o mouse, focar ou clicar */
}

