.DivFilho {
    display: flex;
    flex-direction: row;
}

.DivPai{

    height: 100%;
    width: 100%;
}
.DivImagem {

    position: relative;
    background-size: cover;
    /* Garante que a imagem cubra toda a área da div */
    background-position: center;
    /* Centraliza a imagem */
    height: calc(100vh - 90px);
    /* Define a altura da div como 100% da altura da janela menos 90px do navbar */
    margin-left: 2%;
    margin-right: 8%;
    background-image: url(/high-angle-vegetables-with-copy-space.png);
    width: 100%;
}

.DivFundoPai {

    position: absolute;
    /* Define a posição absoluta */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 90%;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    /* Cor branca com 80% de visibilidade */
    border-radius: 10px;
    justify-content: center;
    /* Centraliza horizontalmente */
    padding-bottom: 3rem;
}

.VoltarIco {

    display: inline-block;
    margin-top: 3rem;
    margin-left: 4rem;
    width: 3.5rem;
    height: 3.5rem;
}

.h1MinDoa {
    text-align: center;
    margin-top: -20px;
    font-size: 30px;
    font-family: 'Poller One', sans-serif;
}

.DivFundoFilho {

    background-color: white;
    width: 90%;
    height: 70%;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5px;
    position: relative;
    margin-top: 40px;
    max-height: 500px;
    overflow-y: auto;
    font-family: "Inter";
}

.telefone {
    font-weight: normal !important;
}